<div class="row">
	<div class="span4 offset4 well">
    {{#if errorMessage}}
		<div class="alert alert-danger fade in" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  		<span class="sr-only">Error:</span>
  		Enter valid user / password
    </div>
    {{/if}}
		<div class="alert alert-info fade in" role="alert">
			<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  		<span class="sr-only">Information:</span>
  		You may also use the guest login (user: guest, password: guest)
		</div>
		<form {{action 'authenticate' on='submit'}}>
		  {{input value=identification placeholder='Enter Login' class='form-control'}}
			{{input value=password placeholder='Enter Password' class='form-control' type='password'}}
			<button type="submit" name="submit" class="btn btn-block">Sign in</button>
		</form>
	</div>
</div>
