<div class="row">
  <div class="col-sm-10 col-sm-offset-2">
      <div class="table-responsive">
        <table class="table">
          <tbody>
            {{#each model as |job|}}
              {{#unless job.hasParent}}
                <tr>
                <td>{{#link-to 'projects.jobs.view' job.id}}{{job.trigger}}{{/link-to}}</td>
                <td>{{job.result}}</td>
                <td>{{job.status}}</td>
                <td>received: {{job.receivedAt}}</td>
                </tr>
              {{/unless}}
            {{/each}}
          </tbody>
        </table>
      </div>
  </div>
</div>
